:root{
    --cor-de-fundo: #1900ff;
    --branco: #fff;
    --font-principal: "poppins";
    --font-secundaria: "Josfin Sans";
    --preto: #0a0a0a;


    
}
.cabecalho {

    color: #ff0000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.titulo{
    text-align: center;
}

.imagem{
    width:20%;
}